#app {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;  
}

h1 {
  margin: 10px 0 0;
  text-align: center;
  font-size: 2.0vw;
  color: #492c7d;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 1.6vw;
  color: #492c7da1;
}

h3 {
  margin: 0;
  font-size: 1.1vw;
  color: rgb(0 0 0 / 80%);
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.num {
  font-size: 0.9em;
  fill: #492c7d;
}

.label {
  font-size: 1.1em;
  font-weight: bold;
  fill: #492c7d;
}

.intervalLabel {
  fill: #492c7da1;
}